/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #fffefe;
  color: #111111;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #202020;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #7e7e7e;
}

header {
  position: fixed;
  border-bottom: 10px solid #6e518b;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #000000;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: relative;
  margin-left: 670px
}
div {
  margin-right: 0px;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #000000;
  background-color:  #7e7e7e;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #6e518b;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #000000;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
/* button imported from getcssscan.com */
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

  